@media (min-width: 799px) and (max-width: 992px){

    .destacados__prod {
        font-size: 15px;
        padding: 5px;


         .img__prod{ 
             width: 90px;
             height: 100px;
         }

         ul{
             display: none;
         }

    }
      
}

@media (min-width: 600px) and (max-width: 798px){


    .producto__gabin{
        padding: 40px;
    }

  
}