.operacion1 {
  background-color: #4d4233; }

.operacion2 {
  background-color: blanchedalmond; }

.operacion3 {
  background-color: #1d1d5a;
  width: 470px; }

/*Esto es solo para que puedan corregir SASSII*/
.btn--twitter {
  background-color: #55acee;
  width: 130px; }

.btn--facebook {
  background-color: #3a5795;
  width: 130px; }

.btn--instagram {
  background-color: #C25E30;
  width: 130px; }

.ex, .ex1, .ex2, .ex3 {
  border: 5px red;
  background-color: #494844;
  margin: 50px; }

.ex1 {
  border: solid yellow; }

.ex2 {
  font-family: 'Times New Roman', Times, serif; }

.ex3 {
  color: green; }

.m-mixin {
  height: 70px;
  width: 600px;
  background-color: yellow;
  color: black; }

* {
  margin: 0%;
  padding: 0%; }

body {
  background-color: #1c1c25;
  color: #b9b9b9; }

h4 {
  font-size: 100%; }

ul {
  list-style: none; }

img {
  width: 52%;
  margin: 15px;
  padding: 5px; }

a {
  transition: 270ms;
  color: #203320;
  text-decoration: none; }

h3 {
  color: white; }

.lista {
  list-style: none; }

.relacionados {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 5%;
  border-radius: 10px; }
  .relacionados div {
    border: solid #50504b;
    border-radius: 30px;
    margin: 5px;
    padding: 15px; }

.producto__gabin {
  display: flex;
  justify-content: center;
  border: solid #969600 3px;
  font-size: larger;
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 100px; }

#animacion:hover {
  animation-name: animation;
  animation-duration: 4s;
  animation-delay: 400ms; }

@keyframes animation {
  15% {
    transform: scale(2); }
  25% {
    border: solid #2a0c46; }
  30% {
    border-radius: 100%; }
  35% {
    color: #727207; }
  50% {
    color: yellow; }
  60% {
    transform: scale(2); }
  80% {
    transform: rotate(1500deg); } }

.gamepoint__animacion:hover {
  animation-name: gamepoint;
  animation-duration: 5s;
  animation-delay: 400ms; }

@keyframes gamepoint {
  10% {
    transform: scale(3); }
  20% {
    background-color: blue; }
  25% {
    background-color: yellow; }
  30% {
    background-color: black; }
  35% {
    background-color: azure; }
  50% {
    transform: rotate(350deg); }
  60% {
    transform: rotate(700deg); }
  70% {
    transform: scale(2); } }

.productos__index {
  border: solid #e0ecee;
  margin: 15px;
  border-radius: 30px; }
  .productos__index:hover {
    transition: 290ms;
    border: solid #a748ff; }

.img__prod:hover {
  transform: scale(1.1);
  transition: 290ms; }

@media (min-width: 750px) and (max-width: 992px) {
  .destacados__prod {
    font-size: 15px;
    padding: 5px; }
    .destacados__prod .img__prod {
      width: 90px;
      height: 100px; }
    .destacados__prod ul {
      display: none; }
  .producto__gabin {
    padding: 10px;
    margin-left: 190px;
    margin-right: 190px; }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 550px) and (max-width: 749px) {
  .producto__gabin {
    padding: 10px;
    margin-left: 90px;
    margin-right: 90px; } }

.productos__index {
  border: solid #e0ecee;
  margin: 15px;
  border-radius: 30px; }
  .productos__index .productos__index:hover {
    transition: 290ms;
    border: solid #a748ff; }

.color__header {
  background-color: #16163d; }

.logo {
  max-width: 80px;
  max-height: 80px; }

.h3__productos {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px; }

.destacados {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
  border-radius: 50px;
  margin-bottom: 10px;
  background-color: white;
  color: black; }

.footer__color {
  background-color: #232929; }
  .footer__color .esp__footer {
    color: #6b6b6b; }
    .footer__color .esp__footer li a {
      color: #6b6b6b; }
      .footer__color .esp__footer li a:hover {
        color: #3671dd; }
  .footer__color .h3__footer {
    font-size: 190%;
    margin-top: 10px; }
  .footer__color #footer__logo {
    display: flex;
    margin-left: 22%; }

.iconos {
  width: 30px;
  margin-left: 38%; }

.main__nosotros {
  padding: 20px; }
  .main__nosotros .div__nosotros {
    border: solid #052c05;
    border-radius: 50px;
    padding: 15px;
    background-color: #093838;
    margin-top: 100px; }
  .main__nosotros .div__nosotros--cont {
    background-color: #250d0d;
    border: solid #052c05;
    border-radius: 50px;
    padding: 15px;
    margin-top: 90px; }
  .main__nosotros .formulario {
    margin-top: 150px; }

.img__prod {
  width: 200px;
  height: 200px;
  padding: 15px;
  border: solid #f3f2f2;
  border-radius: 30px; }

.filtraciones {
  display: flex;
  justify-content: space-around; }
  .filtraciones ul {
    text-decoration: none; }
    .filtraciones ul a {
      color: #aeb3b3; }
    .filtraciones ul a:hover {
      color: #0e91c5; }

#productos__semana {
  color: #0e91c5;
  font-size: 250%; }

.descripcion {
  font-size: 100%;
  margin-top: 15px;
  color: black;
  background-color: #ffffff;
  border: solid #2e2e2a;
  border-radius: 20px; }
  .descripcion ul {
    margin-right: 30px; }

.articulo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 35px;
  margin-left: 70px;
  margin-right: 70px; }

.semana {
  display: flex;
  justify-content: center;
  margin: 25px;
  margin-top: 60px; }

.gabinete {
  width: 35%;
  height: 35%;
  border-radius: 30px; }

.section__div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; }

.h3__gabin {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 45px; }

.precio {
  font-size: 160%;
  color: #008f00; }

.social {
  display: flex;
  justify-content: space-around;
  margin-right: 40%;
  margin-left: 40%; }
  .social .redes {
    width: 50px;
    height: 50px; }

.formulario {
  width: 400px;
  background-color: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 90px;
  border-radius: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white; }
  .formulario h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center; }
  .formulario input {
    width: 100%;
    background-color: #155050;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5; }
  .formulario p {
    height: 30px;
    text-align: center;
    font-size: 18px;
    text-decoration: none; }
  .formulario button {
    width: 100%;
    background-color: #1f53c5;
    border: none;
    padding: 15px;
    font-size: 15px;
    color: white; }
  .formulario a {
    text-decoration: none; }
  .formulario .consulta {
    height: 70px; }
