/*
.operacion1{
    background-color: $blue;
    width: ($ancho/3)-60;
}

.operacion2{
    background-color: $blue;
    width: ($ancho/3)+70;
}


}
*/
.operacion1 {
  background-color: #4d4233; }

.operacion2 {
  background-color: blanchedalmond; }

.operacion3 {
  background-color: #1d1d5a;
  width: 470px; }

.btn--twitter {
  background-color: #55acee;
  width: 130px; }

.btn--facebook {
  background-color: #3a5795;
  width: 130px; }

.btn--instagram {
  background-color: #C25E30;
  width: 130px; }

.ex, .ex1, .ex2, .ex3 {
  border: 5px red;
  background-color: #494844;
  margin: 50px; }

.ex1 {
  border: solid yellow; }

.ex2 {
  font-family: 'Times New Roman', Times, serif; }

.ex3 {
  color: green; }

.m-mixin {
  height: 70px;
  width: 600px;
  background-color: yellow;
  color: black; }

* {
  margin: 0%;
  padding: 0%; }

body {
  background-color: #1c1c25;
  color: #b9b9b9; }

h4 {
  font-size: 100%; }

ul {
  list-style: none; }

img {
  width: 52%;
  margin: 15px;
  padding: 5px; }

a {
  transition: 270ms;
  color: #203320;
  text-decoration: none; }

h3 {
  color: white; }

.relacionados {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10%;
  border-radius: 10px; }
  .relacionados div {
    border: solid #50504b;
    border-radius: 30px;
    margin: 5px;
    padding: 15px; }

.producto__gabin {
  display: flex;
  justify-content: center;
  border: solid #969600 3px;
  font-size: larger;
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 100px; }

#animacion:hover {
  animation-name: animation;
  animation-duration: 4s;
  animation-delay: 400ms; }

@keyframes animation {
  15% {
    transform: scale(2); }
  25% {
    border: solid #2a0c46; }
  30% {
    border-radius: 100%; }
  35% {
    color: #727207; }
  50% {
    color: yellow; }
  60% {
    transform: scale(2); }
  80% {
    transform: rotate(1500deg); } }

.gamepoint__animacion:hover {
  animation-name: gamepoint;
  animation-duration: 5s;
  animation-delay: 400ms; }

@keyframes gamepoint {
  10% {
    transform: scale(3); }
  20% {
    background-color: blue; }
  25% {
    background-color: yellow; }
  30% {
    background-color: black; }
  35% {
    background-color: azure; }
  50% {
    transform: rotate(350deg); }
  60% {
    transform: rotate(700deg); }
  70% {
    transform: scale(2); } }

.productos__index {
  border: solid #e0ecee;
  margin: 15px;
  border-radius: 30px; }
  .productos__index:hover {
    transition: 290ms;
    border: solid #a748ff; }

.productos__index {
  border: solid #e0ecee;
  margin: 15px;
  border-radius: 30px; }

.productos__index:hover {
  transition: 290ms;
  border: solid #a748ff; }

.color__header {
  background-color: #16163d; }

.logo {
  max-width: 80px;
  max-height: 80px; }

.h3__productos {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px; }

.destacados {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
  border-radius: 50px;
  margin-bottom: 10px;
  background-color: white;
  color: black; }

.footer {
  font-size: 65%;
  margin-top: 50px;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  color: #f3dede; }

#footer__logo {
  display: flex;
  margin-left: 22%; }

.h3__footer {
  font-size: 190%;
  margin-top: 10px; }

.main__nosotros {
  padding: 20px; }

.div__nosotros {
  border: solid #052c05;
  border-radius: 50px;
  padding: 15px;
  background-color: #093838;
  margin-top: 100px; }

.div__nosotros--cont {
  background-color: #250d0d;
  border: solid #052c05;
  border-radius: 50px;
  padding: 15px;
  margin-top: 90px; }

.formulario {
  margin-top: 150px; }

.img__prod {
  width: 80%;
  height: 80%; }

.filtraciones {
  display: flex;
  justify-content: space-around; }

#productos__semana {
  color: #0e91c5;
  font-size: 250%; }

.descripcion {
  font-size: 80%;
  margin-top: 15px; }

.semana {
  display: flex;
  justify-content: center;
  margin: 5px;
  margin: 20px;
  margin-top: 60px; }

.destacados__prod {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid black;
  border-radius: 50px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%; }

.gabinete {
  width: 35%;
  height: 35%;
  border-radius: 30px; }

.section__div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; }

.h3__gabin {
  display: flex;
  justify-content: center;
  margin-top: 30px; }

.lista {
  list-style: none; }

.precio {
  font-size: 160%;
  color: #008f00; }
